@import "variables", "mixins";

/*	article-header
  ------------------------------------------- */
.article-header{
	color:$purple;
	font:{
		family:'ITCAvantGardeStd-Demi';
		weight:normal;	
		size:18px;		
	};
	@include responsive(small){
		font-size:24px;
	}	
}