@import 'variables', 'mixins';

/*
Theme Name: terra
Author: Rich Higgins
Author URI: http://iamrichhiggins.com/
*/

/*	base
  ------------------------------------------- */
@font-face {
    font-family: 'impactregular';
    src: url('/wp-content/themes/terrajung/fonts/impact-webfont.eot');
    src: url('/wp-content/themes/terrajung/fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content/themes/terrajung/fonts/impact-webfont.woff') format('woff'),
         url('/wp-content/themes/terrajung/fonts/impact-webfont.ttf') format('truetype'),
         url('/wp-content/themes/terrajung/fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {font-family: 'ITCAvantGardeStd-Bk';src: url('/wp-content/themes/terrajung/fonts/29C4EF_0_0.eot');src: url('/wp-content/themes/terrajung/fonts/29C4EF_0_0.eot?#iefix') format('embedded-opentype'),url('/wp-content/themes/terrajung/fonts/29C4EF_0_0.woff') format('woff'),url('/wp-content/themes/terrajung/fonts/29C4EF_0_0.ttf') format('truetype'),url('/wp-content/themes/terrajung/fonts/29C4EF_0_0.svg#wf') format('svg');}

@font-face {
	font-family: 'ITCAvantGardeStd-Demi';src: url('/wp-content/themes/terrajung/fonts/29C4DA_0_0.eot');
	src: url('/wp-content/themes/terrajung/fonts/29C4DA_0_0.eot?#iefix') format('embedded-opentype'),
		 url('/wp-content/themes/terrajung/fonts/29C4DA_0_0.woff') format('woff'),
		 url('/wp-content/themes/terrajung/fonts/29C4DA_0_0.ttf') format('truetype'),
		 url('/wp-content/themes/terrajung/fonts/29C4DA_0_0.svg#wf') format('svg');
	font-weight: normal;
	font-style: normal;
} 

@font-face {
	font-family: 'terrajung';
	src:url('/wp-content/themes/terrajung/fonts/terrajung.eot');
	src:url('/wp-content/themes/terrajung/fonts/terrajung.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/terrajung/fonts/terrajung.woff') format('woff'),
		url('/wp-content/themes/terrajung/fonts/terrajung.ttf') format('truetype'),
		url('/wp-content/themes/terrajung/fonts/terrajung.svg#terrajung') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font:{
		family: 'ITCAvantGardeStd-Bk', 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
		size:14px;
	}		
	-webkit-text-size-adjust: 100%;
	background:#fff;
	margin:0;
	color:#888;
}

img{
	border:none;
}

a{
	outline:none;
	color:$green;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'terrajung';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-file-pdf {
	color:#db0d0d;
	float:left;
	margin-right:5px;
}

.icon-file-pdf:before {
	content: "\e600";
}