@import "variables", "mixins";

/*	header
  ------------------------------------------- */
.header{
	//
}

.header > h1{
	color:#fff;
	line-height:0.8;
	letter-spacing:-2px;
	font-size:90px;
	margin:0 0 0 -7px;
	padding-top:40px;
	@include title-font;			
	@include responsive(small){
		padding-top:30px;
		letter-spacing:-4px;
		font-size:160px;		
	}
	
	&:after{
		content:".";
	}
	
	transition:margin 0.3s;
}

.is-offscreen{
	margin-left:-100% !important;
}

.header-nav{
	list-style:none;
	@include reset-margins;
	float:right;
	margin-top:-108px;
	@include responsive(small){
		margin-top:-75px;
	}
}

.header-nav > li{
	display:inline-block;
	
	/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;
	
	&:first-child{
		margin-right:5px;
		@include responsive(small){
			margin-right:15px;
		}		
	}
}

.header-nav > li > a{
	display:inline-block;
	color:#fff;
	@include title-font;	
	text-decoration:none;
	font-size:18px;
	
	/* IE7 hack to mimic inline-block on block elements */
    *display: inline;
    *zoom: 1;		
	
	@include responsive(small){
		font-size:24px;
	}	
		
	&:hover, &.selected{
		border-bottom:4px solid #fff;
	}
	
	&:after{
		content:".";
	}
}