@import "variables", "mixins";

/*	l-fixed
  ------------------------------------------- */
.l-fixed{
	// js only
}

.l-fixed-js{
	position:fixed;
	width:100%;
	z-index:1;
	background:#fff;
	left:0;	
}

/*	l-background
  ------------------------------------------- */
.l-background{
	background:$green;
	overflow:hidden;
	height:112px;
	transition:height 0.3s;
	
	@include responsive(small){
		height:auto;
	}
}

.is-minimised{
	height:46px;
}

/*	l-container
  ------------------------------------------- */
.l-container{
	@include container;
	overflow:hidden;
}

.l-container-overflow{
	@include container;
	&:after{
		clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
	}
}

/*	l-columns
  ------------------------------------------- */
.l-column-640{
	@include responsive(large){
		float:left;
		width:69.5652%; // 640px
	}
}

.l-column-280{
	@include responsive(small){
		float:left;
		width:30.4348%; // 280/920px
	}
}

.l-column-640 ~ .l-column-280{ // contact details column
	float:none;
	width:auto;
	@include responsive(large){
		float:left;
		width:30.4348%; // 280/920px
	}
}

.l-column-600 > .l-column-280{
	@include responsive(small){
		width:46.6667%; // 280/600px
	}
}

.l-column-600{
	margin:auto;
	@include responsive(small){
		float:left;
		width:65.2174%; // 600/920px
	}
}

.l-column-320{
	@include responsive(large){
		float:left;
		width:320px;
	}
}

.l-column-right{
	@include responsive(small){
		float:right;
	}	
}