@import "variables", "mixins";

/*	sub-header
  ------------------------------------------- */
.sub-header{
	font-family:'ITCAvantGardeStd-Demi';
	font-weight:normal;
	font-size:14px;
	margin:15px 0 10px;	
}

.is-hidden{
	display:none;
}