@import "variables", "mixins";

/*	text
  ------------------------------------------- */
.text > p{
	line-height:1.4;
	margin:0 0 1em;
}

.text strong{
	font-family:'ITCAvantGardeStd-Demi';
	font-weight:normal;
}

.text > ul{
	line-height:1.4;
	margin:0;
	padding:0 0 0 1em;
}

.text > h2{
	font-size:18px;
	@include responsive(small){
		font-size:24px;
	}
	color:$purple;
	font-family:'ITCAvantGardeStd-Demi';
	font-weight:normal;
}

.text > h3{
	@include responsive(small){
		font-size:18px;
	}	
	font-family:'ITCAvantGardeStd-Demi';
	font-weight:normal;
	margin-bottom:0;
}