@import 'variables', 'mixins';

/*	base
  ------------------------------------------- */
@font-face {
    font-family: 'impactregular';
    src: url('/fonts/impact-webfont.eot');
    src: url('/fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/impact-webfont.woff') format('woff'),
         url('/fonts/impact-webfont.ttf') format('truetype'),
         url('/fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font:{
		family: 'ITC Avant Garde Gothic Std Book', 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
		size:14px;
	}		
	-webkit-text-size-adjust: 100%;
	background:#fff;
	margin:0;
	color:#888;
}

img{
	border:none;
}

a{
	outline:none;
	color:$green;
}

// hide myfonts preview bar
#mfPreviewBar{	
	display:none;
}