@import "variables", "mixins";

/*	contact
  ------------------------------------------- */
.contact{
	list-style:none;
	padding:0;
	@include reset-margins;
	@include responsive(large){	
		margin:15px 0;		
		float:right;
	}
}

.contact > li{
	display:inline;
	font-weight:bold;
	color:$green;
	&:first-child{
		margin-right:15px;
	}
}

.contact > li > a{
	text-decoration:none;
	
	&:hover{
		text-decoration:underline;
	}
}
