@import "variables", "mixins";

/*	header
  ------------------------------------------- */
.header{
	//
}

.header > h1{
	color:#fff;
	line-height:0.8;
	letter-spacing:-2px;
	font-size:80px;
	margin:0 0 0 -7px;
	padding-top:30px;
	@include title-font;			
	@include responsive(small){
		letter-spacing:-4px;
		font-size:160px;		
	}
	
	&:after{
		content:".";
	}
}

.header-nav{
	list-style:none;
	@include reset-margins;
	float:right;
	margin-top:-90px;
	@include responsive(small){
		margin-top:-75px;
	}
}

.header-nav > li{
	display:inline;
	
	&:first-child{
		margin-right:5px;
		@include responsive(small){
			margin-right:15px;
		}		
	}
}

.header-nav > li > a{
	color:#fff;
	@include title-font;	
	text-decoration:none;
	font-size:18px;
	
	@include responsive(small){
		font-size:24px;
	}	
		
	&:hover, &.selected{
		border-bottom:4px solid #fff;
	}
	
	&:after{
		content:".";
	}
}