@import "variables", "mixins";

/*	l-fixed
  ------------------------------------------- */
.l-fixed{
	@include responsive(large){
		position:fixed;
		width:100%;
		z-index:1;
		background:#fff;
	}
}

/*	l-background
  ------------------------------------------- */
.l-background{
	background:$green;
	overflow:hidden;
}

/*	l-container
  ------------------------------------------- */
.l-container{
	@include container;
	overflow:hidden;
}

.l-container-overflow{
	@include container;
	&:after{
		clear: both;
	    content: ".";
	    display: block;
	    height: 0;
	    visibility: hidden;
	}
}

/*	l-columns
  ------------------------------------------- */
.l-column-640{
	@include responsive(large){
		float:left;
		width:69.56522%; // 640px
	}
}

.l-column-280{
	@include responsive(large){
		float:left;
		width:30.43478%; // 280/920px
	}
}

// sibling selector (portfolio columns)
.l-column-600 ~ .l-column-280{
	@include responsive(medium){
		float:left;
		width:30.43478%; // 280/920px
	}
}

.l-column-600{
	margin:auto;
	@include responsive(medium){
		float:left;
		width:65.21739%; // 600/920px
	}
}

.l-column-320{
	@include responsive(large){
		float:left;
		width:320px;
	}
}

.l-column-right{
	@include responsive(medium){
		float:right;
	}	
}