// media queries / IE fallbacks mixin
@mixin responsive($width){
	@if $width == small{
		@media screen and (min-width: $small-break) {
			@content;
		}
	}
	@else if $width == medium{
		@media screen and (min-width: $medium-break) {
			@content;
		}
	}
	@else if $width == large{
		@media screen and (min-width: $large-break) {
			@content;
		}
		.lt-ie9 & {
		    @content;
		}
	}
}

@mixin title-font(){
	font:{
		family:'impactregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
		weight:normal;
	}	
	text-transform:lowercase;
}

@mixin container(){
	max-width:920px;
	margin:auto;
	padding:0 10px;
	
	@include responsive(large){
		padding:0;
	}	
}

@mixin reset-margins(){
	margin:0;
	padding:0;
}