@import "variables", "mixins";

/*	section-header
  ------------------------------------------- */
.section-header{
	color:$purple;
	font-size:24px;
	
	@include title-font;
	@include responsive(small){
		margin:30px 0 15px;
		font-size:48px;
	}
	
	&:after{
		content:".";
	}
}

.section-header-portfolio{
	@include responsive(large){
		margin-top:210px;
	}	
}