@import "variables", "mixins";

/*	sub-header
  ------------------------------------------- */
.sub-header{
	font-family:'ITC Avant Garde Gothic Std DemiBold';
	font-weight:normal;
	font-size:14px;
	margin:15px 0 10px;	
}