@import "variables", "mixins";

/*	text
  ------------------------------------------- */
.text > p{
	line-height:1.4;
	margin:0 0 1em;
}

.text > p > strong{
	font-family:'ITC Avant Garde Gothic Std DemiBold';
	font-weight:normal;
}

.text > ul{
	line-height:1.4;
	margin:0;
	padding:0 0 0 1em;
}

.text > h2{
	font-size:24px;
	color:$purple;
	font-family:'ITC Avant Garde Gothic Std DemiBold';
	font-weight:normal;
}

.text > h3{
	font-size:18px;
	font-family:'ITC Avant Garde Gothic Std DemiBold';
	font-weight:normal;
	margin-bottom:0;
}