/*	base
  ------------------------------------------- */
@font-face {
  font-family: 'impactregular';
  src: url("/fonts/impact-webfont.eot");
  src: url("/fonts/impact-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/impact-webfont.woff") format("woff"), url("/fonts/impact-webfont.ttf") format("truetype"), url("/fonts/impact-webfont.svg#impactregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'ITC Avant Garde Gothic Std Book', 'Century Gothic', CenturyGothic, 'AppleGothic', sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  margin: 0;
  color: #888; }

img {
  border: none; }

a {
  outline: none;
  color: #aad037; }

#mfPreviewBar {
  display: none; }

/*	l-fixed
  ------------------------------------------- */
@media screen and (min-width: 960px) {
  .l-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff; } }
.lt-ie9 .l-fixed {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: #fff; }

/*	l-background
  ------------------------------------------- */
.l-background {
  background: #aad037;
  overflow: hidden; }

/*	l-container
  ------------------------------------------- */
.l-container {
  max-width: 920px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }
  @media screen and (min-width: 960px) {
    .l-container {
      padding: 0; } }
  .lt-ie9 .l-container {
    padding: 0; }

.l-container-overflow {
  max-width: 920px;
  margin: auto;
  padding: 0 10px; }
  @media screen and (min-width: 960px) {
    .l-container-overflow {
      padding: 0; } }
  .lt-ie9 .l-container-overflow {
    padding: 0; }
  .l-container-overflow:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden; }

/*	l-columns
  ------------------------------------------- */
@media screen and (min-width: 960px) {
  .l-column-640 {
    float: left;
    width: 69.56522%; } }
.lt-ie9 .l-column-640 {
  float: left;
  width: 69.56522%; }

@media screen and (min-width: 960px) {
  .l-column-280 {
    float: left;
    width: 30.43478%; } }
.lt-ie9 .l-column-280 {
  float: left;
  width: 30.43478%; }

@media screen and (min-width: 768px) {
  .l-column-600 ~ .l-column-280 {
    float: left;
    width: 30.43478%; } }

.l-column-600 {
  margin: auto; }
  @media screen and (min-width: 768px) {
    .l-column-600 {
      float: left;
      width: 65.21739%; } }

@media screen and (min-width: 960px) {
  .l-column-320 {
    float: left;
    width: 320px; } }
.lt-ie9 .l-column-320 {
  float: left;
  width: 320px; }

@media screen and (min-width: 768px) {
  .l-column-right {
    float: right; } }

/*	article-header
  ------------------------------------------- */
.article-header {
  color: #8866ac;
  font-family: 'ITC Avant Garde Gothic Std DemiBold';
  font-weight: normal;
  font-size: 18px; }
  @media screen and (min-width: 600px) {
    .article-header {
      font-size: 24px; } }

/*	carousel (bootstrap)
  ------------------------------------------- */
.carousel {
  position: relative; }

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden; }

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1; }

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block; }

.carousel-inner > .active {
  left: 0; }

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%; }

.carousel-inner > .next {
  left: 100%; }

.carousel-inner > .prev {
  left: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0; }

.carousel-inner > .active.left {
  left: -100%; }

.carousel-inner > .active.right {
  left: 100%; }

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50); }

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  opacity: 0.9;
  filter: alpha(opacity=90); }

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block; }

.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%; }

.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%; }

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif; }

.carousel-control .icon-prev:before {
  content: '\2039'; }

.carousel-control .icon-next:before {
  content: '\203a'; }

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 10px; }

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #ffffff; }

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.carousel-caption .btn {
  text-shadow: none; }

@media screen and (min-width: 768px) {
  .carousel-control .glyphicons-chevron-left,
  .carousel-control .glyphicons-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px; }

  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px; }

  .carousel-indicators {
    bottom: 20px; } }
/*	carousel (custom)
  ------------------------------------------- */
.carousel {
  border: 1px solid #ccc;
  margin: 0 0 1em; }
  @media screen and (min-width: 600px) {
    .carousel {
      margin: 0; } }

.carousel-control {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 30px;
  text-align: center;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=50);
  text-decoration: none;
  height: 42px;
  width: 42px;
  border-radius: 21px;
  font-weight: bold;
  font-family: 'impactregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-weight: normal;
  text-transform: lowercase;
  line-height: 1.4;
  margin: -21px 0 0 -10px; }
  @media screen and (min-width: 960px) {
    .carousel-control {
      margin: -21px 0 0 -21px; } }
  .lt-ie9 .carousel-control {
    margin: -21px 0 0 -21px; }

.carousel-control.left {
  background: #ccc; }

.carousel-control.right {
  background: #ccc;
  margin: -21px -10px 0 0; }
  @media screen and (min-width: 960px) {
    .carousel-control.right {
      margin: -21px -21px 0 0; } }
  .lt-ie9 .carousel-control.right {
    margin: -21px -21px 0 0; }

.carousel-control:hover,
.carousel-control:focus {
  opacity: 1;
  filter: alpha(opacity=100);
  background: #aad037; }

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 558px;
  margin: auto; }

/*	contact
  ------------------------------------------- */
.contact {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 0; }
  @media screen and (min-width: 960px) {
    .contact {
      margin: 15px 0;
      float: right; } }
  .lt-ie9 .contact {
    margin: 15px 0;
    float: right; }

.contact > li {
  display: inline;
  font-weight: bold;
  color: #aad037; }
  .contact > li:first-child {
    margin-right: 15px; }

.contact > li > a {
  text-decoration: none; }
  .contact > li > a:hover {
    text-decoration: underline; }

/*	header
  ------------------------------------------- */
.header > h1 {
  color: #fff;
  line-height: 0.8;
  letter-spacing: -2px;
  font-size: 80px;
  margin: 0 0 0 -7px;
  padding-top: 30px;
  font-family: 'impactregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-weight: normal;
  text-transform: lowercase; }
  @media screen and (min-width: 600px) {
    .header > h1 {
      letter-spacing: -4px;
      font-size: 160px; } }
  .header > h1:after {
    content: "."; }

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: -90px; }
  @media screen and (min-width: 600px) {
    .header-nav {
      margin-top: -75px; } }

.header-nav > li {
  display: inline; }
  .header-nav > li:first-child {
    margin-right: 5px; }
    @media screen and (min-width: 600px) {
      .header-nav > li:first-child {
        margin-right: 15px; } }

.header-nav > li > a {
  color: #fff;
  font-family: 'impactregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-weight: normal;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 18px; }
  @media screen and (min-width: 600px) {
    .header-nav > li > a {
      font-size: 24px; } }
  .header-nav > li > a:hover, .header-nav > li > a.selected {
    border-bottom: 4px solid #fff; }
  .header-nav > li > a:after {
    content: "."; }

/*	section-header
  ------------------------------------------- */
.section-header {
  color: #8866ac;
  font-size: 24px;
  font-family: 'impactregular', Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-weight: normal;
  text-transform: lowercase; }
  @media screen and (min-width: 600px) {
    .section-header {
      margin: 30px 0 15px;
      font-size: 48px; } }
  .section-header:after {
    content: "."; }

@media screen and (min-width: 960px) {
  .section-header-portfolio {
    margin-top: 210px; } }
.lt-ie9 .section-header-portfolio {
  margin-top: 210px; }

/*	sub-header
  ------------------------------------------- */
.sub-header {
  font-family: 'ITC Avant Garde Gothic Std DemiBold';
  font-weight: normal;
  font-size: 14px;
  margin: 15px 0 10px; }

/*	text
  ------------------------------------------- */
.text > p {
  line-height: 1.4;
  margin: 0 0 1em; }

.text > p > strong {
  font-family: 'ITC Avant Garde Gothic Std DemiBold';
  font-weight: normal; }

.text > ul {
  line-height: 1.4;
  margin: 0;
  padding: 0 0 0 1em; }

.text > h2 {
  font-size: 24px;
  color: #8866ac;
  font-family: 'ITC Avant Garde Gothic Std DemiBold';
  font-weight: normal; }

.text > h3 {
  font-size: 18px;
  font-family: 'ITC Avant Garde Gothic Std DemiBold';
  font-weight: normal;
  margin-bottom: 0; }
